name: Build Docker

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
    paths:
      - 'go.sum'
      - 'go.mod'
      - '**.go'
      - Dockerfile
      - .github/workflows/docker.yml

jobs:
  Docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ['distroless', 'alpine']
    steps:

      - name: Login To Docker
        uses: docker/login-action@v1
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          username: cyb3rjak3
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login To GitHub
        uses: docker/login-action@v1
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v3.6.0
        with:
          images: cyb3rjak3/firewall_sync,ghcr.io/cyb3r-jak3/firewall_sync
          labels: |
            org.label-schema.vcs-url=https://github.com/Cyb3r-Jak3/firewall_sync.git
            maintainer=Cyb3r Jak3 cyb3rjak3@pm.me
            org.opencontainers.image.vendor=cyb3rjak3
          tags: |
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=${{ matrix.target }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0

      - uses: actions/checkout@v2

      - name: Build
        uses: docker/build-push-action@v2.7.0
        with:
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: ${{ startsWith(github.ref, 'refs/tags/v') }}
          file: Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          target: ${{ matrix.target }}
