name: Build Docker

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
    paths:
      - 'go.sum'
      - 'go.mod'
      - '**.go'
      - Dockerfile
      - .github/workflows/docker.yml
      - 'docker-bake.hcl'

jobs:
  Docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ['distroless', 'alpine']
    steps:

      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Bake ${{ matrix.target }}
        uses: docker/bake-action@v1.6.0
        with:
          files: ./docker-bake.hcl
          targets: ${{ matrix.target }}
          push: false
          load: true
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
