name: Test Go

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - 'go.sum'
      - 'go.mod'
      - '**.go'
      - .github/workflows/golang.yml
  pull_request:
    branches:
      - main

permissions:
  security-events: write
  actions: write

jobs:
  Go:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

    #  - uses: actions/cache@v2.1.6
    #    with:
    #      path: |
    #        ~/go/pkg/mod
    #        ~/.cache/go-build
    #      key: go-${{ hashFiles('**/go.sum') }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Gosec Security Scanner
        run: |
          go get -u github.com/securego/gosec/v2/cmd/gosec
          make scan

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: security.sarif

      - name: Build
        run: make build
        env:
          BUILDER: GithubActions

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: |
            security.sarif
            firewall_sync
