name: GoReleaser

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*.*.*'
    paths:
      - ".github/workflows/release.yml"
      - "cmd/.goreleaser.yml"
  pull_request:
    branches:
      - main
jobs:
  goreleaser:
    name: Release with GoReleaser
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker
        uses: docker/login-action@v1
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          username: cyb3rjak3
          password: ${{ secrets.DOCKER_PASSWORD }}

      -
        name: Login To GitHub
        uses: docker/login-action@v1
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17

      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
          workdir: cmd/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Dist
        uses: actions/upload-artifact@v2.2.4
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        with:
          if-no-files-found: error
          name: GoReleaser
          path: ./cmd/dist/